/* History.css */

/* Default styles for order items */
.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .order-image {
    width: 100px; /* Adjust the width according to your design */
    height: auto;
    margin-right: 20px;
  }
  
  .order-details {
    flex: 1;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .order-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .order-image {
      width: 50%; /* Take full width on smaller screens */
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  